@model IEnumerable<TravelStores.Models.Travel>

@{
    ViewBag.Title = "HotTour";
}

<h2>HotTour</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TravelId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TravelId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TravelId })
            <td><p><a href="/Home/Buy/@item.TravelId">Купить</a></p></td>


        </tr>
    }

</table>
